header {
  position: sticky;
  left: 0;
  top: 0;
  background-color: var(--primary);
  padding: 0 8px;
  @include text-contrast($primary);

  a {
    @include text-contrast($primary);
  }
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 55px;

  @include md {
    justify-content: start;
  }
}

.toggler {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 100%;
  background-color: transparent;
  border-color: transparent;
  padding: 0 8px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--light);
  transition: color 0.2s;

  &:hover {
    cursor: pointer;
    color: darken($color: $light, $amount: 25);
  }

  &-menu {
    @include md {
      display: none;
    }
  }
}

.brand {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0 8px;
  font-size: 1.5rem;
  font-weight: 700;
  transition: color 0.2s;

  &:hover {
    color: darken($color: $light, $amount: 25);
  }
}

.calc {
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #00000070;
  overflow-y: hidden;
}

.menu {
  position: absolute;
  left: 0;
  top: 0;
  width: 300px;
  max-width: 100vw;
  height: 100vh;
  background-color: var(--light);
  border-right: 1px solid var(--primary);

  @include md {
    display: none;
  }

  &.v-enter-active,
  &.v-leave-active {
    transition: all 0.2s;
  }

  &.v-enter-from,
  &.v-leave-to {
    left: -300px;
  }

  &.v-enter-to,
  &.v-leave-from {
    left: 0;
  }

  .menu-header {
    height: 55px;
    padding: 0 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--primary);
    color: var(--primary);

    a {
      color: var(--primary);

      &:hover {
        color: var(--dark);
      }
    }

    .brand {
      padding-left: 0;
    }

    .toggler {
      color: var(--primary);
      padding: 8px;

      &:hover {
        color: var(--dark);
      }
    }
  }

  .link-list {
    margin-top: 16px;
    padding: 0 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;

    a {
      padding: 8px 0;
      display: block;
      color: var(--primary);
      font-weight: 400;
      font-size: 1rem;
      transition: color 0.2s;

      &:hover {
        color: var(--dark);
      }

      &.router-link-active {
        color: var(--secondary);
        font-weight: 500;
      }
    }
  }
}

.menu-medium {
  display: none;
  flex: 1 1 auto;
  height: 100%;

  @include md {
    display: block;
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    color: var(--light);
    height: 100%;

    li {
      height: 100%;

      a {
        display: flex;
        align-items: center;
        padding: 0 8px;
        height: 100%;
        color: var(--light);

        &:hover {
          color: var(--tertiary);
        }

        &.router-link-active {
          color: var(--secondary);
        }
      }
    }
  }
}
