@import '../media-queries';

.top-bar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 8px;

    input {
      order: 0;
    }

    button {
      order: 1;
    }

    a {
      order: 2;
    }
  }

  @include sm {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .button-group {
      flex-direction: row;

      button {
        order: 0;
      }
    }
  }
}

.products-grid {
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr 1fr;

  @include sm {
    grid-template-columns: repeat(3, 1fr);
  }

  @include md {
    grid-template-columns: repeat(3, 1fr);
  }

  @include lg {
    grid-template-columns: repeat(4, 1fr);
  }

  @include xl {
    grid-template-columns: repeat(5, 1fr);
  }
}