@import '../media-queries';
.container-xl {
  min-height: 100%;
}

.top-bar {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;

  .button-group {
    display: flex;
    flex-direction: column;
    gap: 8px;

    input {
      order: 0;
    }

    button {
      order: 1;
    }

    a {
      order: 2;
    }
  }

  @include md {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .button-group {
      flex-direction: row;

      button {
        order: 0;
      }
    }
  }
}
