.container {
  margin: auto;
  padding: 4px;
  max-width: 800px;

  &-xxl {
    margin: auto;
    padding: 4px;
    max-width: 1320px;
  }

  &-xl {
    margin: auto;
    padding: 4px;
    max-width: 1140px;
  }

  &-lg {
    margin: auto;
    padding: 4px;
    max-width: 960px;
  }

  &-md {
    margin: auto;
    padding: 4px;
    max-width: 720px;
  }

  &-sm {
    margin: auto;
    padding: 4px;
    max-width: 540px;
  }

  &-fluid {
    margin: auto;
    padding: 4px;
    max-width: 100%;
  }
}