.row {
  display: grid;
  &.row-cols- {
    &1 {
      grid-template-columns: 1fr;
    }
    &2 {
      grid-template-columns: repeat(2, 1fr);
    }
    &3 {
      grid-template-columns: repeat(3, 1fr);
    }
    &4 {
      grid-template-columns: repeat(4, 1fr);
    }
    &5 {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  &.g- {
    &1 {
      gap: 4px;
    }
    &2 {
      gap: 8px;
    }
    &3 {
      gap: 16px;
    }
    &4 {
      gap: 24px;
    }
    &5 {
      gap: 32px;
    }
  }
}
